@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bet {
    display: flex;
    align-items: center;
    padding: 18px;
    gap: 7px;
}

.header-first {
    display: flex;
    gap: 12px;
}

.header-item {
    font-family: 'Lato', sans-serif;
    color: #000E56;
    font-weight: 600;
    font-size: 14px;
    
}

.header-item:hover {
    color: #FFC90A;
}

.header-second {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-button {
    width: 69px;
    height: 23.49px;
    left: 1142px;
    top: 24.43px;
    background: #000E56;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: #FFFF;
    font-weight: 600;
    font-size: 12px;
    border: none;
}

.header-button:hover {
    background-color: #FFC90A;
    color: black;
}

.content {
    background-image: url(/tcc/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-written {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.yellow-word {
    color: #FFC90A;
}

.blue-word {
    color: #000E56;
}

.main-button {
    width: 249px;
    height: 67.55px;
    left: 204px;
    top: 473.32px;
    background: #000E56;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    color: #FFFF;
    font-weight: 600;
    font-size: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.main-button:hover {
    background-color: #FFC90A;
    color: black;
}

.woman-first {
    display: flex;
    padding: 42px;
    gap: 7px;
}