@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*------------------------Header--------------------------*/

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px 0 100px;
}

/* .bet {
  display: flex;
  align-items: center;
  padding: 18px;
  gap: 7px;
} */

.header-first {
  display: flex;
  gap: 12px;
}

.header-item {
  font-family: 'Lato', sans-serif;
  color: #000E56;
  font-weight: 600;
  font-size: 14px;
  
}

.header-item:hover {
  color: #FFC90A;
}

.header-second {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-button {
  width: 69px;
  height: 23.49px;
  left: 1142px;
  top: 24.43px;
  background: #000E56;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  color: #FFFF;
  font-weight: 600;
  font-size: 12px;
  border: none;
}

.header-button a{
  color:#FFF;
}

.header-button:hover {
  cursor: pointer;
  background-color: #FFC90A;
}

/*==============================================*/
.profile-area{
  display: flex;
  align-items: center
}

.profile{
  display: flex;
  align-items: center;
}

.profile h5{
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 96%;
  margin: 0 auto;
}

.container img.logo {
  width: 10rem;
}

.container .search-bar {
  background: var(--color-light);
  padding: var(--padding-2) var(--card-padding);
  width: 32vw;
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-ligth);
  position: absolute;
  left: 15%;
}

.container .search-bar input[type="search"] {
  color: var(--color-dark);
  background: transparent;
  width: 100%;
}

.container .search-bar input[type="search"]::placeholder {
  color: var(--color-gray-dark);
}

.container .profile-area .profile-photo {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo{
  width: 75px;
  margin-right: 20px;
}

/*=============================== Mini Telas e Tables 600px ============================*/
@media screen and (max-width: 1024px) {
  .container .search-bar {
      display: none;
  }


  .container .profile-area {
      gap: 2rem;
  }

  .container .profile-area button#menu-btn {
      display: inline;
      background: transparent;
      color: var(--color-dark);
  }
}


/*===============================Celular 600px =========================================*/
@media screen and (max-width: 600px) {
  nav .profile-area {
      gap: 2.6rem;
  }

  nav .profile h5,
  nav .profile span {
      display: none;
  }
}

/* =====================MENU================= */
#menu-button-home{
  background-color: var(--color-light);
  cursor: pointer;
  margin: 10px;
}

#menu-button-home:hover{
  color: #FFC90A;
}

.menu-modal-home{
  left: 92%;
  position: absolute;
  display: none;
  z-index: 1;
}

.menu-content-home{
  background: var(--color-light);
  display: flex;

  width: 130px;
  height: 70px;
  border-radius: 10px;
  
  flex-direction: column;
  justify-content: center;
}

.menu-config-home{
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background: var(--color-light);
}

.menu-config-home:hover{
  background-color: white;
  color: #FFC90A;
 }

