.testando{
  display: flex;
  flex-direction: column;
}
.testando > button{
  cursor: pointer;
}
.testando11{
  background-color:aquamarine;
}

#income{
  appearance: auto;
}
#expenses{
  appearance: auto;
}

.table-Grid{
  display: flex;
  flex-direction: column;
}

.thead-Grid{
  justify-content: space-around;
}

.Tbody-Grid{
  display: flex;
  justify-content: space-around;
}
.td-delete{
  cursor: pointer;
}