:root {
  --color-white: white;
  --color-light: #f0eff5;
  --color-gray-ligth: #86846c;
  --color-gray-dark: #56555e;
  --color-dark: #27282f;
  --color-primary: rgb(2, 4, 134);
  --color-success: rgb(34, 202, 75);
  --color-danger: rgb(255, 67, 54);
  --color-warning: rgb(234, 181, 7);
  --color-purple: rgb(160, 99, 245);

  --color-primary-light: rgb(71, 7, 234, 0.2);
  --color-succes-light: rgb(34, 202, 75, 0.2);
  --color-danger-light: rgb(255, 67, 54, 0.2);
  --color-purple-light: rgb(160, 99, 245, 0.2);

  --card-padding: 1.6rem;
  --padding-1: 1rem;
  --padding-2: 8px;

  --card-border-radius: 1.6rem;
  --border-radius-1: 1rem;
  --border-radius-2: 6px;
}

.dark-theme {
  --color-white: #131316;
  --color-light: #23232a;
  --color-dark: #ddd;
  --color-gray-ligth: #ffffff;
  --color-gray-dark: #b5b0ac;
  --color-primary: rgb(64, 67, 255);
  
}

/*====================================== Configurações =================================*/
*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background: var(--color-light);
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  color: var(--color-dark);
}

img {
  width: 100%;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.86rem;
  font-weight: 500;
}

h7 {
  font-size: 7.6rem;
}

p {
  font-size: 0.86rem;
  color: var(--color-gray-dark);
}

small {
  font-weight: 300;
  font-size: 0.77rem;
}

.text-muted {
  color: var(--color-gray-ligth);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.purple {
  color: var(--color-purple);
}

.bg-primary {
  background: var(--color-primary);
  box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger {
  background: var(--color-danger);
  box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success {
  background: var(--color-success);
  box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple {
  background: var(--color-purple);
  box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark {
  background: var(--color-dark);
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

/*====================================== Header ========================================*/
.profile-area{
  display: flex;
  align-items: center
}

.profile{
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 96%;
  margin: 0 auto;
}

.container img.logo {
  width: 10rem;
}

.container .search-bar {
  background: var(--color-light);
  padding: var(--padding-2) var(--card-padding);
  width: 32vw;
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-gray-ligth);
  position: absolute;
  left: 15%;
}

.container .search-bar input[type="search"] {
  color: var(--color-dark);
  background: transparent;
  width: 100%;
}

.container .search-bar input[type="search"]::placeholder {
  color: var(--color-gray-dark);
}

.container .profile-area .profile-photo {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

/*=============================== Mini Telas e Tables 600px ============================*/
@media screen and (max-width: 1024px) {
  .container .search-bar {
      display: none;
  }


  .container .profile-area {
      gap: 2rem;
  }

  .container .profile-area button#menu-btn {
      display: inline;
      background: transparent;
      color: var(--color-dark);
  }
}


/*===============================Celular 600px =========================================*/
@media screen and (max-width: 600px) {
  nav .profile-area {
      gap: 2.6rem;
  }

  nav .profile h5,
  nav .profile span {
      display: none;
  }
}