@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*------------------------Main Cad 1--------------------------*/
main{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(45deg,#3b31ff,#160FAA,#160FAA);
}


input[type=text],[type=email],[type=password]{
  border-radius: 5px;
  border-width: 0px;
  padding: 7px 12px;
  height: 43px;
  width: 380px;
  font-size: 24px;
  font-weight:normal;
}

h1{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 56px;
  margin-top: 100px;
}

.Continue-button{
  background-color:#FFC90A;
  border-radius: 5px;
  padding: 6px 30px;
  border-width: 0px;
  margin-right: 75px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #000E56;
}

.Continue-button a{
  color: #000E56;
}

.Continue-button:hover{
  background-color:#cfa81d;
  transition: 0.2s;
}

.bigButton{
  font-size: 26px;
  padding: 18px 38px;
}

.bigButton a{
  color: #000E56;
}
/*------------------------Main Cad 2/ Senha 1 --------------------------*/

#main2{
  background: linear-gradient(45deg,#160FAA,#0B0753,#0B0753)
}

#main3{
background: #02082C ;
}
#token{
  background-color: rgba(255, 255, 255, 0);
  color: #ffca0ab3;
  font-size: 16px;
  font-weight: normal;
  margin: 7px 0 0 0;
  padding: 0;
  font-size: 16px;
  border: none;
}

#token:hover{
  cursor: pointer;
}

#tokenNum{
  width: 380px;
  text-align: center;
  padding: 0 10px 0 20px;
  font-size: 40px;
  margin-top: 0px;
  font-weight: bold;
  height: 43px;
  letter-spacing: 16px;
}

.division{
  margin-bottom: 20px;
}

.buttonDivision{
  display: flex;
}

.division h2{
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}
/*-----imagem-foguete------*/
.fgt{
  width: 600px;
}

.config_txt{
  margin-left: 212px;
}


/*--------------------itens-show---------------------*/
.bet li {
  float: left;
  list-style: none;
}

.bet ul li{
  float: left;
  list-style: none;
  position: relative;
  padding: 5px 5px;
}


.bet ul li ul{
  display: none;
  border-radius: 5px;
  position: absolute;
  background-color: #FFF;
  padding: 2px 2px;

}

.bet ul li:hover ul{
  display: block;
}

.bet ul li ul li {
  margin: 5px 7px;
  width: 130px;
}

.bet ul li ul li a{
  padding: 10px 14px;
  color: #cda61d;
}

.bet ul li ul li a:hover{
  border-radius: 5px;
  background-color: #f3f3f3;
}

/*---------cad3------*/
#main4{
  background: #020021;
  color: white;
}

.moon_img{
  position: fixed;
  right: -350px;
  top: 634px;
}

.moon {
  width: 1000px;
}

.texto_cad3{
  font-size: 32px;
  margin-top: 20px;
  font-weight: normal;
}