.walletBorder{
  width: 800px;
}

.listAcima{
  display: flex;
  border: solid 1px #000;
  border-radius: 6px;
  width: 800px;
  margin: 100px 0px 0px 0px;
}

.listaMoedas{
  display:flex;

}

.walletMoedas-separadores{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 60px;
  padding: 10px;

  border: solid 2px #000;
  border-radius: 6px;

}
/*============== Bota de Adicionar na Walllet =============*/
#button-choose {
  position: absolute;
  right: 30%;
  bottom: 30%; 
  width: 90px;
  height: 90px;
  
  align-items: center;
  border-radius: 50px;
  background-color: #56555e;
}

.wallet-separadores{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25%;
  height: 40px;
  padding: 10px;
}

.bg-modal{
  margin: 10% auto auto 30%;
  position: absolute;
  display: none;
}

.modal-content{
  display: flex;
  background-color: white;
  width: 330px;
  height: 330px;
  border-radius: 10px;
  
  flex-direction: column;
  justify-content: center;
}

.modal-selecionar-carteira{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-selecionar-carteira p{
  font-size: 20px;
}

.modal-selecionar-carteira button{
  font-size: 20px;
  background-color: #86846c;
  width: 50px;
  height: 30px;
  border-radius: 6px;
}

#selecionarMoeda{
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  border: 1px solid black;
}

#close-btn{
  position: absolute;
  margin: -90% 0 0 90%;
  cursor: pointer;
  font-size: 50px;
  transform: rotate(45deg);
}

/*==========================Displays============================*/

.ethereum{
  display:none;
}

.usdCoin{
  display:none;
}

.bnb{
  display:none;
}

.polygon{
  display:none;
}

.xrp{
  display:none;
}

.dogeCoin{
display:none;
}

/*===========================imagens==============*/
#polyImg{
  width: 30px;
}
#xrpImg{
  width: 30px;
}