.walletBorder{
  width: 800px;
}

.listAcima{
  display: flex;
  width: 800px;
  margin: 100px 0px 0px 0px;
}

.listaMoedas{
  display:flex;

}

.walletMoedas-separadores{

  display: flex;

  width: 25%;
  margin: 1px;
  border: solid 2px #000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  color: #000E56;

}
/*============== Bota de Adicionar na Walllet =============*/
#button-choose {
 margin-top: 120%;
 margin-left: -100%;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  color: white;
  background-color: #020486;
}

#button-choose:hover {
  color: #c99e07;
  cursor: pointer;
}

.wallet-separadores{
  display: flex;

  width: 25%; 
  margin: 1px;
  border: solid 2px #000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;

}

.bg-modal{
  margin: 10% auto auto 30%;
  position: absolute;
  display: none;
}

.modal-content{
  display: flex;
  background-color: white;
  width: 330px;
  height: 330px;
  border-radius: 10px;
  
  flex-direction: column;
  justify-content: center;
}

.modal-selecionar-carteira{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-selecionar-carteira p{
  font-size: 20px;
}

.modal-selecionar-carteira button{
  font-size: 20px;
  background-color: #020486;
  width: 100px;
  height: 33px;
  border-radius: 6px;
  color: white;
}

.modal-selecionar-carteira button:hover{
  cursor: pointer;
  color: #c99e07;
}
#selecionarMoeda{
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  border: 1px solid black;
}

#selecionarMoeda:hover{
  cursor: pointer;

}

#close-btn{
  position: absolute;
  margin: -90% 0 0 90%;
  cursor: pointer;
  font-size: 50px;
  transform: rotate(45deg);
}
#close-btn:hover{
  color:#c99e07
}
/*==========================Displays============================*/

.ethereum{
  display:none;
}

.usdCoin{
  display:none;
}

.bnb{
  display:none;
}

.polygon{
  display:none;
}

.xrp{
  display:none;
}

.dogeCoin{
display:none;
}

/*===========================imagens==============*/
#polyImg{
  width: 30px;
}
#xrpImg{
  width: 30px;
}

.relativeToBtn{
  position:relative ;
}